@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-calendar-picker-indicator {
  margin-left: 5px;
  cursor: pointer;
}

.Toastify__toast-container {
  width: initial !important ;
}

.Toastify__toast-container--top-center {
  left: calc(50% + 75px) !important;
}

.Toastify__toast {
  border-radius: 20px !important;
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  background: #2430d0 !important;
}

.Toastify__toast-theme--colored.Toastify__toast--warning {
  background: #e9c42a !important;
}
